[user]
	name = Danislav Pometkov
	email = pometkov.d@protonmail.com
	signingkey = AF359A60AAAAD2AD

[core]
	editor = nvim

[pull]
  rebase = true

[alias]
	co = checkout
	st = status
	f = fetch
	c = commit --verbose

[credential]
	credentialStore = gpg
	helper = /usr/local/bin/git-credential-manager

[commit]
	gpgsign = true

[tag]
	gpgSign = true
