alias vim="nvim"

# Django / Python
alias soa="source .venv/bin/activate"

alias pmr="python manage.py runserver"
alias pmmm="python manage.py makemigrations"
alias pmm="python manage.py migrate"
alias pms="python manage.py shell_plus"

# Npm
alias nrd="npm run dev"
alias nrb="npm run build"

# Git
alias gst="git status"
alias gc="git commit --verbose"
alias gco="git checkout"
