alias vim="nvim"

# Django / Python
alias soa="source .venv/bin/activate"

alias pmr="python manage.py runserver"
alias pmmm="python manage.py makemigrations"
alias pmm="python manage.py migrate"
alias pms="python manage.py shell_plus"

# Npm
alias nrd="npm run dev"
alias nrb="npm run build"

# Git
alias ga='git add'
alias gc="git commit --verbose"
alias gp="git push"
alias gl="git pull"
alias gst="git status"
alias gco="git checkout"
alias grb='git rebase'
alias grs='git restore'
alias gss='git stash'
